#forgotPasswordBox {
    width:600px;
    height:350px;
    background-color: white;
    position: fixed;
    top:50%;
    margin-top:-175px;
    left:50%;
    margin-left:-300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    box-shadow: 2px 2px 4px 2px rgba(134, 128, 128, 0.1);
    color:#05F283;
}


#forgotPasswordBox div {
    width:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}